@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  body {
    @apply font-primary text-sm md:text-base;
  }
}

body {
  /* font-family: 'Lato', monospace; */
  background-color: #1e39c2;
}

@media screen and (max-width: 1023px) { 
  li {
    margin-left: 0 !important;
  }
}

.mobile li {
  padding-top: 25px;
}

.intro-fm-yellow {
  --fm-yellow: #C8C022;
  background-color: #1e39c2;
  background-image: -webkit-linear-gradient( 82deg, #1e39c2 0%, #1e39c2 59%, #C8C022 59%, #C8C022 59%);
  background-image: linear-gradient( 82deg, #1e39c2 0%, #1e39c2 59%, #C8C022 59%, #C8C022 59%);
}
.intro-fm-red {
  background-color: #1e39c2;
  background-image: -webkit-linear-gradient( 82deg, #1e39c2 0%, #1e39c2 59%, #d74224 59%, #d74224 59%);
  background-image: linear-gradient( 82deg, #1e39c2 0%, #1e39c2 59%, #d74224 59%, #d74224 59%);
}
.intro-fm-blue-light {
  background-color: #1e39c2;
  background-image: -webkit-linear-gradient( 82deg, #1e39c2 0%, #1e39c2 59%, #5a74f5 59%, #5a74f5 59%);
  background-image: linear-gradient( 82deg, #1e39c2 0%, #1e39c2 59%, #5a74f5 59%, #5a74f5 59%);
}
.intro-fm-pink {
  background-color: #1e39c2;
  background-image: -webkit-linear-gradient( 82deg, #1e39c2 0%, #1e39c2 59%, #BD21BD 59%, #BD21BD 59%);
  background-image: linear-gradient( 82deg, #1e39c2 0%, #1e39c2 59%, #BD21BD 59%, #BD21BD 59%);
}
.intro-fm-green {
  background-color: #1e39c2;
  background-image: -webkit-linear-gradient( 82deg, #1e39c2 0%, #1e39c2 59%, #47d015 59%, #47d015 59%);
  background-image: linear-gradient( 82deg, #1e39c2 0%, #1e39c2 59%, #47d015 59%, #47d015 59%);
}

.global-fm-yellow {
  background-color: #dfd523;
}
.global-fm-red {
  background-color: #ed4e2e;
}
.global-fm-blue-light {
  background-color: #6c84f7;
}
.global-fm-pink {
  background-color: #db27db;
}
.global-fm-green {
  background-color: #5ae826;
}

@media screen and (max-width: 768px) { 
  .intro-fm-yellow {
    background-image: -webkit-linear-gradient(171deg, #1e39c2 0%, #1e39c2 59%, #C8C022 59%, #C8C022 59%);
    background-image: linear-gradient( 171deg, #1e39c2 0%, #1e39c2 59%, #C8C022 59%, #C8C022 59%);
  }
  .intro-fm-red {
    background-image: -webkit-linear-gradient( 171deg, #1e39c2 0%, #1e39c2 59%, #d74224 59%, #d74224 59%);
    background-image: linear-gradient( 171deg, #1e39c2 0%, #1e39c2 59%, #d74224 59%, #d74224 59%);
  }
  .intro-fm-blue-light {
    background-image: -webkit-linear-gradient( 171deg, #1e39c2 0%, #1e39c2 59%, #5a74f5 59%, #5a74f5 59%);
    background-image: linear-gradient( 171deg, #1e39c2 0%, #1e39c2 59%, #5a74f5 59%, #5a74f5 59%);
  }
  
  .intro-fm-pink {
    background-image: -webkit-linear-gradient( 171deg, #1e39c2 0%, #1e39c2 59%, #BD21BD 59%, #BD21BD 59%);
    background-image: linear-gradient( 171deg, #1e39c2 0%, #1e39c2 59%, #BD21BD 59%, #BD21BD 59%);
  }
  
  .intro-fm-green {
    background-image: -webkit-linear-gradient( 171deg, #1e39c2 0%, #1e39c2 59%, #47d015 59%, #47d015 59%);
    background-image: linear-gradient( 171deg, #1e39c2 0%, #1e39c2 59%, #47d015 59%, #47d015 59%);
  }
}

/* .tippy-popper {
  max-width: 260px !important;
}

.tippy-tooltip, .tippy-tooltip [x-circle] {
  background-color: #2b79f6 !important;
}

.tippy-tooltip-content {
  background-color: transparent;
  text-align: left;
}

.tippy-popper[x-placement^=top] [x-arrow] {
  border-top: 7px solid #2b79f6 !important;
} */

/* FAQ */

.container {
  padding: 2rem;
  text-align: center;
}

.question-wrapper {
  margin: 0 auto;
  transition: 1s;
}

.question {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: $primary-text-color;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.answer {
  display: none;
}

.answer.active {
  display: block;
  text-align: left;
  padding-top: 0.5rem;
  line-height: 1.5;
  animation: slidein 0.4s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    opacity: 0.3;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}


/* .container-slider {
  --bs-gutter-x: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
} */

/* MUSIC PLAYER */

.App {
  font-family: sans-serif;
  text-align: center;
}

.component {
  width: 25%;
  max-width: 600px;
}

.musicCover {
  border-radius: 10%;
}

.playButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.subTitle {
  margin-top: -1em;
  color: #4f4f4f;
}

.timeline {
  width: 100%;
  background-color: #16ee70;
}

input[type="range"] {
  background-color: #27ae60;
}

@media (max-width: 900px) {
  .component {
    width: 50%;
  }
}

/* NEWS TICKER */

.ticker {
  overflow: hidden;
  width: 100%;
  /* position: fixed; */
  bottom: -50px;
  left: 0;
}

.ticker-title {
  width: 2500px;
  color: #ffd700;
  font-size: 16px;
  text-transform: uppercase;
}

.ticker-title > * {
  display: inline-block;
  margin-right: 50px;
  -webkit-animation: title 6s infinite linear;
  animation: title 6s infinite linear;
}

@-webkit-keyframes title {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-233px);
    transform: translateX(-233px);
  }
}

@keyframes title {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-233px);
    transform: translateX(-233px);
  }
}

.ticker-news {
  width: 7000px;
  padding: 10px 0;
  color: #dddddd;
  font-size: 24px;
  text-transform: uppercase;
}

.ticker-news > * {
  display: inline-block;
  -webkit-animation: news 70s infinite linear;
  animation: news 70s infinite linear;
}

@keyframes news {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-5000px);
    transform: translateX(-5000px);
  }
}